# Pandas
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

## Why Pandas:
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

### Importing Pandas

In [1]:
import pandas as pd

In [2]:
# pandas version
print(pd.__version__)

1.3.4

# DataFrames:
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

## Creating DataFrames:

In [3]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

### Named Indexes

In [4]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)
print("\n")
print(df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45


calories    380
duration     40
Name: day2, dtype: int64

### Dataframe from dict narrays / lists:

In [5]:
# intialise data of dict/lists.
data = {'Name':
               ['Tom', 'nick', 'krish', 'jack'],
        'Age':
               [20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

## Adding new column to existing DataFrame in Pandas

### By declaring a new list as a column.

In [41]:
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

# Using 'Address' as the column name
# and equating it to the list
df['Address'] = address

# Observe the result
print(df)

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

## By using DataFrame.insert()

In [46]:
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
# df = pd.DataFrame(data,index=['w','x','y','z'])

# Using DataFrame.insert() to add a column
df.insert(2, "Age", [21, 23, 24, 21], True)

# Observe the result
print(df)

     Name  Height  Age Qualification
0     Jai     5.1   21           Msc
1  Princi     6.2   23            MA
2  Gaurav     5.1   24           Msc
3    Anuj     5.2   21           Msc

## By using a dictionary

In [73]:
data = {'Name': ['Jai', 'Pranay', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MCS', 'MBA', 'BDA']}
  
# Define a dictionary with key values of
# an existing column and their respective
# value pairs as the # values for our new column.
address = {'Delhi': 'Jai', 'Bangalore': 'Princi',
           'Patna': 'Gaurav', 'Chennai': 'Anuj'}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
  
# Provide 'Address' as the column name
df['Address'] = address
  
# Observe the output
print(df)

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Pranay     6.2           MCS  Bangalore
2  Gaurav     5.1           MBA      Patna
3    Anuj     5.2           BDA    Chennai

### Using Dataframe.assign() method

In [63]:
df2 = df.assign(address=['Delhi', 'Bangalore', 'Chennai', 'Patna'])
  
# Observe the result
print(df2)

     Name  Height Qualification    Address    address
0     Jai     5.1           Msc      Delhi      Delhi
1  Pranay     6.2           MCS  Bangalore  Bangalore
2  Gaurav     5.1           MBA      Patna    Chennai
3    Anuj     5.2           BDA    Chennai      Patna

## Delete Columns: drop()

In [72]:
print(df)
df2=df.drop(['Address'],axis = 1)
df2

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Pranay     6.2           MCS  Bangalore
2  Gaurav     5.1           MBA      Patna
3    Anuj     5.2           BDA    Chennai

     Name  Height Qualification
0     Jai     5.1           Msc
1  Pranay     6.2           MCS
2  Gaurav     5.1           MBA
3    Anuj     5.2           BDA

### truncate()

In [77]:
print(df2)

result = df.truncate(before = '0', after = '2')
  
# Print the result
print(result)

     Name  Height Qualification
0     Jai     5.1           Msc
1  Pranay     6.2           MCS
2  Gaurav     5.1           MBA
3    Anuj     5.2           BDA
     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Pranay     6.2           MCS  Bangalore
2  Gaurav     5.1           MBA      Patna

## Dealing with Rows and Columns

### Column selection:

In [39]:

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Pranay', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Pune', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Pranay            MA
2  Gaurav           MCA
3    Anuj           Phd

### Row Selection:

In [7]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)
print("\n")
print(df.loc[[0, 1]])
print("\n")
print(df.loc[2])

   calories  duration
0       420        50
1       380        40
2       390        45


   calories  duration
0       420        50
1       380        40


calories    390
duration     45
Name: 2, dtype: int64

## Indexing and Selecting Data:
Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.

### Selecting a single columns

In [8]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

first = data["calories"]

print(first)

[420, 380, 390]

### Selecting a single row

In [9]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

first = df.loc["day1"]
second = df.loc["day2"]


print(first,"\n",second)

calories    420
duration     50
Name: day1, dtype: int64
 calories    380
duration     40
Name: day2, dtype: int64

### Selecting Row using iloc

In [10]:
row2 = df.iloc[2] 
print(row2)

calories    390
duration     45
Name: day3, dtype: int64

## Loading CSV into Dataframe

In [11]:
df = pd.read_csv('C:/Users/Pranay/Downloads/penguins.csv')

print(df.head())
#print(df.to_string())

      Island  CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0  Torgersen          39.1         18.7          181.0    3750.0        0
1  Torgersen          39.5         17.4          186.0    3800.0        0
2  Torgersen          40.3         18.0          195.0    3250.0        0
3  Torgersen           NaN          NaN            NaN       NaN        0
4  Torgersen          36.7         19.3          193.0    3450.0        0

## Working with Missing Values

In [12]:
df = pd.read_csv('C:/Users/Pranay/Downloads/penguins.csv')

# using isnull() function  
df.isnull()

     Island  CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0     False         False        False          False     False    False
1     False         False        False          False     False    False
2     False         False        False          False     False    False
3     False          True         True           True      True    False
4     False         False        False          False     False    False
..      ...           ...          ...            ...       ...      ...
339   False         False        False          False     False    False
340   False         False        False          False     False    False
341   False         False        False          False     False    False
342   False         False        False          False     False    False
343   False         False        False          False     False    False

[344 rows x 6 columns]

In [13]:
#fill missing values using fillna()
df = pd.read_csv('C:/Users/Pranay/Downloads/penguins.csv')
df.fillna(0)

        Island  CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0    Torgersen          39.1         18.7          181.0    3750.0        0
1    Torgersen          39.5         17.4          186.0    3800.0        0
2    Torgersen          40.3         18.0          195.0    3250.0        0
3    Torgersen           0.0          0.0            0.0       0.0        0
4    Torgersen          36.7         19.3          193.0    3450.0        0
..         ...           ...          ...            ...       ...      ...
339      Dream          55.8         19.8          207.0    4000.0        2
340      Dream          43.5         18.1          202.0    3400.0        2
341      Dream          49.6         18.2          193.0    3775.0        2
342      Dream          50.8         19.0          210.0    4100.0        2
343      Dream          50.2         18.7          198.0    3775.0        2

[344 rows x 6 columns]

In [14]:
#dropping null values using dropna()
df = pd.read_csv('C:/Users/Pranay/Downloads/penguins.csv')

df.dropna()

        Island  CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0    Torgersen          39.1         18.7          181.0    3750.0        0
1    Torgersen          39.5         17.4          186.0    3800.0        0
2    Torgersen          40.3         18.0          195.0    3250.0        0
4    Torgersen          36.7         19.3          193.0    3450.0        0
5    Torgersen          39.3         20.6          190.0    3650.0        0
..         ...           ...          ...            ...       ...      ...
339      Dream          55.8         19.8          207.0    4000.0        2
340      Dream          43.5         18.1          202.0    3400.0        2
341      Dream          49.6         18.2          193.0    3775.0        2
342      Dream          50.8         19.0          210.0    4100.0        2
343      Dream          50.2         18.7          198.0    3775.0        2

[342 rows x 6 columns]

# Iterating over rows and columns
Iteration is a general term for taking each item of something, one after another.

Pandas DataFrame consists of rows and columns so, in order to iterate over dataframe, we have to iterate a dataframe like a dictionary.

## Iterating over rows :

In [15]:
df = pd.read_csv('C:/Users/Pranay/Downloads/penguins.csv')
for i, j in df.iterrows():
    print(i, j)
    print()

0 Island           Torgersen
CulmenLength          39.1
CulmenDepth           18.7
FlipperLength        181.0
BodyMass            3750.0
Species                  0
Name: 0, dtype: object

1 Island           Torgersen
CulmenLength          39.5
CulmenDepth           17.4
FlipperLength        186.0
BodyMass            3800.0
Species                  0
Name: 1, dtype: object

2 Island           Torgersen
CulmenLength          40.3
CulmenDepth           18.0
FlipperLength        195.0
BodyMass            3250.0
Species                  0
Name: 2, dtype: object

3 Island           Torgersen
CulmenLength           NaN
CulmenDepth            NaN
FlipperLength          NaN
BodyMass               NaN
Species                  0
Name: 3, dtype: object

4 Island           Torgersen
CulmenLength          36.7
CulmenDepth           19.3
FlipperLength        193.0
BodyMass            3450.0
Species                  0
Name: 4, dtype: object

5 Island           Torgersen
CulmenLength          39.3
CulmenDepth           20.6
FlipperLength        190.0
BodyMass            3650.0
Species                  0
Name: 5, dtype: object

6 Island           Torgersen
CulmenLength          38.9
CulmenDepth           17.8
FlipperLength        181.0
BodyMass            3625.0
Species                  0
Name: 6, dtype: object

7 Island           Torgersen
CulmenLength          39.2
CulmenDepth           19.6
FlipperLength        195.0
BodyMass            4675.0
Species                  0
Name: 7, dtype: object

8 Island           Torgersen
CulmenLength          34.1
CulmenDepth           18.1
FlipperLength        193.0
BodyMass            3475.0
Species                  0
Name: 8, dtype: object

9 Island           Torgersen
CulmenLength          42.0
CulmenDepth           20.2
FlipperLength        190.0
BodyMass            4250.0
Species                  0
Name: 9, dtype: object

10 Island           Torgersen
CulmenLength          37.8
CulmenDepth           17.1
FlipperLength        186.0
BodyMass            3300.0
Species                  0
Name: 10, dtype: object

11 Island           Torgersen
CulmenLength          37.8
CulmenDepth           17.3
FlipperLength        180.0
BodyMass            3700.0
Species                  0
Name: 11, dtype: object

12 Island           Torgersen
CulmenLength          41.1
CulmenDepth           17.6
FlipperLength        182.0
BodyMass            3200.0
Species                  0
Name: 12, dtype: object

13 Island           Torgersen
CulmenLength          38.6
CulmenDepth           21.2
FlipperLength        191.0
BodyMass            3800.0
Species                  0
Name: 13, dtype: object

14 Island           Torgersen
CulmenLength          34.6
CulmenDepth           21.1
FlipperLength        198.0
BodyMass            4400.0
Species                  0
Name: 14, dtype: object

15 Island           Torgersen
CulmenLength          36.6
CulmenDepth           17.8
FlipperLength        185.0
BodyMass            3700.0
Species                  0
Name: 15, dtype: object

16 Island           Torgersen
CulmenLength          38.7
CulmenDepth           19.0
FlipperLength        195.0
BodyMass            3450.0
Species                  0
Name: 16, dtype: object

17 Island           Torgersen
CulmenLength          42.5
CulmenDepth           20.7
FlipperLength        197.0
BodyMass            4500.0
Species                  0
Name: 17, dtype: object

18 Island           Torgersen
CulmenLength          34.4
CulmenDepth           18.4
FlipperLength        184.0
BodyMass            3325.0
Species                  0
Name: 18, dtype: object

19 Island           Torgersen
CulmenLength          46.0
CulmenDepth           21.5
FlipperLength        194.0
BodyMass            4200.0
Species                  0
Name: 19, dtype: object

20 Island           Biscoe
CulmenLength       37.8
CulmenDepth        18.3
FlipperLength     174.0
BodyMass         3400.0
Species               0
Name: 20, dtype: object

21 Island           Biscoe
CulmenLength       37.7
CulmenDepth        18.7
FlipperLength     180.0
BodyMass         3600.0
Species               0
Name: 21, dtype: object

22 Island           Biscoe
CulmenLength       35.9
CulmenDepth        19.2
FlipperLength     189.0
BodyMass         3800.0
Species               0
Name: 22, dtype: object

23 Island           Biscoe
CulmenLength       38.2
CulmenDepth        18.1
FlipperLength     185.0
BodyMass         3950.0
Species               0
Name: 23, dtype: object

24 Island           Biscoe
CulmenLength       38.8
CulmenDepth        17.2
FlipperLength     180.0
BodyMass         3800.0
Species               0
Name: 24, dtype: object

25 Island           Biscoe
CulmenLength       35.3
CulmenDepth        18.9
FlipperLength     187.0
BodyMass         3800.0
Species               0
Name: 25, dtype: object

26 Island           Biscoe
CulmenLength       40.6
CulmenDepth        18.6
FlipperLength     183.0
BodyMass         3550.0
Species               0
Name: 26, dtype: object

27 Island           Biscoe
CulmenLength       40.5
CulmenDepth        17.9
FlipperLength     187.0
BodyMass         3200.0
Species               0
Name: 27, dtype: object

28 Island           Biscoe
CulmenLength       37.9
CulmenDepth        18.6
FlipperLength     172.0
BodyMass         3150.0
Species               0
Name: 28, dtype: object

29 Island           Biscoe
CulmenLength       40.5
CulmenDepth        18.9
FlipperLength     180.0
BodyMass         3950.0
Species               0
Name: 29, dtype: object

30 Island            Dream
CulmenLength       39.5
CulmenDepth        16.7
FlipperLength     178.0
BodyMass         3250.0
Species               0
Name: 30, dtype: object

31 Island            Dream
CulmenLength       37.2
CulmenDepth        18.1
FlipperLength     178.0
BodyMass         3900.0
Species               0
Name: 31, dtype: object

32 Island            Dream
CulmenLength       39.5
CulmenDepth        17.8
FlipperLength     188.0
BodyMass         3300.0
Species               0
Name: 32, dtype: object

33 Island            Dream
CulmenLength       40.9
CulmenDepth        18.9
FlipperLength     184.0
BodyMass         3900.0
Species               0
Name: 33, dtype: object

34 Island            Dream
CulmenLength       36.4
CulmenDepth        17.0
FlipperLength     195.0
BodyMass         3325.0
Species               0
Name: 34, dtype: object

35 Island            Dream
CulmenLength       39.2
CulmenDepth        21.1
FlipperLength     196.0
BodyMass         4150.0
Species               0
Name: 35, dtype: object

36 Island            Dream
CulmenLength       38.8
CulmenDepth        20.0
FlipperLength     190.0
BodyMass         3950.0
Species               0
Name: 36, dtype: object

37 Island            Dream
CulmenLength       42.2
CulmenDepth        18.5
FlipperLength     180.0
BodyMass         3550.0
Species               0
Name: 37, dtype: object

38 Island            Dream
CulmenLength       37.6
CulmenDepth        19.3
FlipperLength     181.0
BodyMass         3300.0
Species               0
Name: 38, dtype: object

39 Island            Dream
CulmenLength       39.8
CulmenDepth        19.1
FlipperLength     184.0
BodyMass         4650.0
Species               0
Name: 39, dtype: object

40 Island            Dream
CulmenLength       36.5
CulmenDepth        18.0
FlipperLength     182.0
BodyMass         3150.0
Species               0
Name: 40, dtype: object

41 Island            Dream
CulmenLength       40.8
CulmenDepth        18.4
FlipperLength     195.0
BodyMass         3900.0
Species               0
Name: 41, dtype: object

42 Island            Dream
CulmenLength       36.0
CulmenDepth        18.5
FlipperLength     186.0
BodyMass         3100.0
Species               0
Name: 42, dtype: object

43 Island            Dream
CulmenLength       44.1
CulmenDepth        19.7
FlipperLength     196.0
BodyMass         4400.0
Species               0
Name: 43, dtype: object

44 Island            Dream
CulmenLength       37.0
CulmenDepth        16.9
FlipperLength     185.0
BodyMass         3000.0
Species               0
Name: 44, dtype: object

45 Island            Dream
CulmenLength       39.6
CulmenDepth        18.8
FlipperLength     190.0
BodyMass         4600.0
Species               0
Name: 45, dtype: object

46 Island            Dream
CulmenLength       41.1
CulmenDepth        19.0
FlipperLength     182.0
BodyMass         3425.0
Species               0
Name: 46, dtype: object

47 Island            Dream
CulmenLength       37.5
CulmenDepth        18.9
FlipperLength     179.0
BodyMass         2975.0
Species               0
Name: 47, dtype: object

48 Island            Dream
CulmenLength       36.0
CulmenDepth        17.9
FlipperLength     190.0
BodyMass         3450.0
Species               0
Name: 48, dtype: object

49 Island            Dream
CulmenLength       42.3
CulmenDepth        21.2
FlipperLength     191.0
BodyMass         4150.0
Species               0
Name: 49, dtype: object

50 Island           Biscoe
CulmenLength       39.6
CulmenDepth        17.7
FlipperLength     186.0
BodyMass         3500.0
Species               0
Name: 50, dtype: object

51 Island           Biscoe
CulmenLength       40.1
CulmenDepth        18.9
FlipperLength     188.0
BodyMass         4300.0
Species               0
Name: 51, dtype: object

52 Island           Biscoe
CulmenLength       35.0
CulmenDepth        17.9
FlipperLength     190.0
BodyMass         3450.0
Species               0
Name: 52, dtype: object

53 Island           Biscoe
CulmenLength       42.0
CulmenDepth        19.5
FlipperLength     200.0
BodyMass         4050.0
Species               0
Name: 53, dtype: object

54 Island           Biscoe
CulmenLength       34.5
CulmenDepth        18.1
FlipperLength     187.0
BodyMass         2900.0
Species               0

Name: 54, dtype: object

55 Island           Biscoe
CulmenLength       41.4
CulmenDepth        18.6
FlipperLength     191.0
BodyMass         3700.0
Species               0
Name: 55, dtype: object

56 Island           Biscoe
CulmenLength       39.0
CulmenDepth        17.5
FlipperLength     186.0
BodyMass         3550.0
Species               0
Name: 56, dtype: object

57 Island           Biscoe
CulmenLength       40.6
CulmenDepth        18.8
FlipperLength     193.0
BodyMass         3800.0
Species               0
Name: 57, dtype: object

58 Island           Biscoe
CulmenLength       36.5
CulmenDepth        16.6
FlipperLength     181.0
BodyMass         2850.0
Species               0
Name: 58, dtype: object

59 Island           Biscoe
CulmenLength       37.6
CulmenDepth        19.1
FlipperLength     194.0
BodyMass         3750.0
Species               0
Name: 59, dtype: object

60 Island           Biscoe
CulmenLength       35.7
CulmenDepth        16.9
FlipperLength     185.0
BodyMass         3150.0
Species               0
Name: 60, dtype: object

61 Island           Biscoe
CulmenLength       41.3
CulmenDepth        21.1
FlipperLength     195.0
BodyMass         4400.0
Species               0
Name: 61, dtype: object

62 Island           Biscoe
CulmenLength       37.6
CulmenDepth        17.0
FlipperLength     185.0
BodyMass         3600.0
Species               0
Name: 62, dtype: object

63 Island           Biscoe
CulmenLength       41.1
CulmenDepth        18.2
FlipperLength     192.0
BodyMass         4050.0
Species               0
Name: 63, dtype: object

64 Island           Biscoe
CulmenLength       36.4
CulmenDepth        17.1
FlipperLength     184.0
BodyMass         2850.0
Species               0
Name: 64, dtype: object

65 Island           Biscoe
CulmenLength       41.6
CulmenDepth        18.0
FlipperLength     192.0
BodyMass         3950.0
Species               0
Name: 65, dtype: object

66 Island           Biscoe
CulmenLength       35.5
CulmenDepth        16.2
FlipperLength     195.0
BodyMass         3350.0
Species               0
Name: 66, dtype: object

67 Island           Biscoe
CulmenLength       41.1
CulmenDepth        19.1
FlipperLength     188.0
BodyMass         4100.0
Species               0
Name: 67, dtype: object

68 Island           Torgersen
CulmenLength          35.9
CulmenDepth           16.6
FlipperLength        190.0
BodyMass            3050.0
Species                  0
Name: 68, dtype: object

69 Island           Torgersen
CulmenLength          41.8
CulmenDepth           19.4
FlipperLength        198.0
BodyMass            4450.0
Species                  0
Name: 69, dtype: object

70 Island           Torgersen
CulmenLength          33.5
CulmenDepth           19.0
FlipperLength        190.0
BodyMass            3600.0
Species                  0
Name: 70, dtype: object

71 Island           Torgersen
CulmenLength          39.7
CulmenDepth           18.4
FlipperLength        190.0
BodyMass            3900.0
Species                  0
Name: 71, dtype: object

72 Island           Torgersen
CulmenLength          39.6
CulmenDepth           17.2
FlipperLength        196.0
BodyMass            3550.0
Species                  0
Name: 72, dtype: object

73 Island           Torgersen
CulmenLength          45.8
CulmenDepth           18.9
FlipperLength        197.0
BodyMass            4150.0
Species                  0
Name: 73, dtype: object

74 Island           Torgersen
CulmenLength          35.5
CulmenDepth           17.5
FlipperLength        190.0
BodyMass            3700.0
Species                  0
Name: 74, dtype: object

75 Island           Torgersen
CulmenLength          42.8
CulmenDepth           18.5
FlipperLength        195.0
BodyMass            4250.0
Species                  0
Name: 75, dtype: object

76 Island           Torgersen
CulmenLength          40.9
CulmenDepth           16.8
FlipperLength        191.0
BodyMass            3700.0
Species                  0
Name: 76, dtype: object

77 Island           Torgersen
CulmenLength          37.2
CulmenDepth           19.4
FlipperLength        184.0
BodyMass            3900.0
Species                  0
Name: 77, dtype: object

78 Island           Torgersen
CulmenLength          36.2
CulmenDepth           16.1
FlipperLength        187.0
BodyMass            3550.0
Species                  0
Name: 78, dtype: object

79 Island           Torgersen
CulmenLength          42.1
CulmenDepth           19.1
FlipperLength        195.0
BodyMass            4000.0
Species                  0
Name: 79, dtype: object

80 Island           Torgersen
CulmenLength          34.6
CulmenDepth           17.2
FlipperLength        189.0
BodyMass            3200.0
Species                  0
Name: 80, dtype: object

81 Island           Torgersen
CulmenLength          42.9
CulmenDepth           17.6
FlipperLength        196.0
BodyMass            4700.0
Species                  0
Name: 81, dtype: object

82 Island           Torgersen
CulmenLength          36.7
CulmenDepth           18.8
FlipperLength        187.0
BodyMass            3800.0
Species                  0
Name: 82, dtype: object

83 Island           Torgersen
CulmenLength          35.1
CulmenDepth           19.4
FlipperLength        193.0
BodyMass            4200.0
Species                  0
Name: 83, dtype: object

84 Island            Dream
CulmenLength       37.3
CulmenDepth        17.8
FlipperLength     191.0
BodyMass         3350.0
Species               0
Name: 84, dtype: object

85 Island            Dream
CulmenLength       41.3
CulmenDepth        20.3
FlipperLength     194.0
BodyMass         3550.0
Species               0
Name: 85, dtype: object

86 Island            Dream
CulmenLength       36.3
CulmenDepth        19.5
FlipperLength     190.0
BodyMass         3800.0
Species               0
Name: 86, dtype: object

87 Island            Dream
CulmenLength       36.9
CulmenDepth        18.6
FlipperLength     189.0
BodyMass         3500.0
Species               0
Name: 87, dtype: object

88 Island            Dream
CulmenLength       38.3
CulmenDepth        19.2
FlipperLength     189.0
BodyMass         3950.0
Species               0
Name: 88, dtype: object

89 Island            Dream
CulmenLength       38.9
CulmenDepth        18.8
FlipperLength     190.0
BodyMass         3600.0
Species               0
Name: 89, dtype: object

90 Island            Dream
CulmenLength       35.7
CulmenDepth        18.0
FlipperLength     202.0
BodyMass         3550.0
Species               0
Name: 90, dtype: object

91 Island            Dream
CulmenLength       41.1
CulmenDepth        18.1
FlipperLength     205.0
BodyMass         4300.0
Species               0
Name: 91, dtype: object

92 Island            Dream
CulmenLength       34.0
CulmenDepth        17.1
FlipperLength     185.0
BodyMass         3400.0
Species               0
Name: 92, dtype: object

93 Island            Dream
CulmenLength       39.6
CulmenDepth        18.1
FlipperLength     186.0
BodyMass         4450.0
Species               0
Name: 93, dtype: object

94 Island            Dream
CulmenLength       36.2
CulmenDepth        17.3
FlipperLength     187.0
BodyMass         3300.0
Species               0
Name: 94, dtype: object

95 Island            Dream
CulmenLength       40.8
CulmenDepth        18.9
FlipperLength     208.0
BodyMass         4300.0
Species               0
Name: 95, dtype: object

96 Island            Dream
CulmenLength       38.1
CulmenDepth        18.6
FlipperLength     190.0
BodyMass         3700.0
Species               0
Name: 96, dtype: object

97 Island            Dream
CulmenLength       40.3
CulmenDepth        18.5
FlipperLength     196.0
BodyMass         4350.0
Species               0
Name: 97, dtype: object

98 Island            Dream
CulmenLength       33.1
CulmenDepth        16.1
FlipperLength     178.0
BodyMass         2900.0
Species               0
Name: 98, dtype: object

99 Island            Dream
CulmenLength       43.2
CulmenDepth        18.5
FlipperLength     192.0
BodyMass         4100.0
Species               0
Name: 99, dtype: object

100 Island           Biscoe
CulmenLength       35.0
CulmenDepth        17.9
FlipperLength     192.0
BodyMass         3725.0
Species               0
Name: 100, dtype: object

101 Island           Biscoe
CulmenLength       41.0
CulmenDepth        20.0
FlipperLength     203.0
BodyMass         4725.0
Species               0
Name: 101, dtype: object

102 Island           Biscoe
CulmenLength       37.7
CulmenDepth        16.0
FlipperLength     183.0
BodyMass         3075.0
Species               0
Name: 102, dtype: object

103 Island           Biscoe
CulmenLength       37.8
CulmenDepth        20.0
FlipperLength     190.0
BodyMass         4250.0
Species               0
Name: 103, dtype: object

104 Island           Biscoe
CulmenLength       37.9
CulmenDepth        18.6
FlipperLength     193.0
BodyMass         2925.0
Species               0
Name: 104, dtype: object

105 Island           Biscoe
CulmenLength       39.7
CulmenDepth        18.9
FlipperLength     184.0
BodyMass         3550.0
Species               0
Name: 105, dtype: object

106 Island           Biscoe
CulmenLength       38.6
CulmenDepth        17.2
FlipperLength     199.0
BodyMass         3750.0
Species               0
Name: 106, dtype: object

107 Island           Biscoe
CulmenLength       38.2
CulmenDepth        20.0
FlipperLength     190.0
BodyMass         3900.0
Species               0
Name: 107, dtype: object

108 Island           Biscoe
CulmenLength       38.1
CulmenDepth        17.0
FlipperLength     181.0
BodyMass         3175.0
Species               0
Name: 108, dtype: object

109 Island           Biscoe
CulmenLength       43.2
CulmenDepth        19.0
FlipperLength     197.0
BodyMass         4775.0
Species               0
Name: 109, dtype: object

110 Island           Biscoe
CulmenLength       38.1
CulmenDepth        16.5
FlipperLength     198.0
BodyMass         3825.0
Species               0
Name: 110, dtype: object

111 Island           Biscoe
CulmenLength       45.6
CulmenDepth        20.3
FlipperLength     191.0
BodyMass         4600.0
Species               0
Name: 111, dtype: object

112 Island           Biscoe
CulmenLength       39.7
CulmenDepth        17.7
FlipperLength     193.0
BodyMass         3200.0
Species               0
Name: 112, dtype: object

113 Island           Biscoe
CulmenLength       42.2
CulmenDepth        19.5
FlipperLength     197.0
BodyMass         4275.0
Species               0
Name: 113, dtype: object

114 Island           Biscoe
CulmenLength       39.6
CulmenDepth        20.7
FlipperLength     191.0
BodyMass         3900.0
Species               0
Name: 114, dtype: object

115 Island           Biscoe
CulmenLength       42.7
CulmenDepth        18.3
FlipperLength     196.0
BodyMass         4075.0
Species               0
Name: 115, dtype: object

116 Island           Torgersen
CulmenLength          38.6
CulmenDepth           17.0
FlipperLength        188.0
BodyMass            2900.0
Species                  0
Name: 116, dtype: object

117 Island           Torgersen
CulmenLength          37.3
CulmenDepth           20.5
FlipperLength        199.0
BodyMass            3775.0
Species                  0
Name: 117, dtype: object

118 Island           Torgersen
CulmenLength          35.7
CulmenDepth           17.0
FlipperLength        189.0
BodyMass            3350.0
Species                  0
Name: 118, dtype: object

119 Island           Torgersen
CulmenLength          41.1
CulmenDepth           18.6
FlipperLength        189.0
BodyMass            3325.0
Species                  0
Name: 119, dtype: object

120 Island           Torgersen
CulmenLength          36.2
CulmenDepth           17.2
FlipperLength        187.0
BodyMass            3150.0
Species                  0
Name: 120, dtype: object

121 Island           Torgersen
CulmenLength          37.7
CulmenDepth           19.8
FlipperLength        198.0
BodyMass            3500.0
Species                  0
Name: 121, dtype: object

122 Island           Torgersen
CulmenLength          40.2
CulmenDepth           17.0
FlipperLength        176.0
BodyMass            3450.0
Species                  0
Name: 122, dtype: object

123 Island           Torgersen
CulmenLength          41.4
CulmenDepth           18.5
FlipperLength        202.0
BodyMass            3875.0
Species                  0
Name: 123, dtype: object

124 Island           Torgersen
CulmenLength          35.2
CulmenDepth           15.9
FlipperLength        186.0
BodyMass            3050.0
Species                  0
Name: 124, dtype: object

125 Island           Torgersen
CulmenLength          40.6
CulmenDepth           19.0
FlipperLength        199.0
BodyMass            4000.0
Species                  0
Name: 125, dtype: object

126 Island           Torgersen
CulmenLength          38.8
CulmenDepth           17.6
FlipperLength        191.0
BodyMass            3275.0
Species                  0
Name: 126, dtype: object

127 Island           Torgersen
CulmenLength          41.5
CulmenDepth           18.3
FlipperLength        195.0
BodyMass            4300.0
Species                  0
Name: 127, dtype: object

128 Island           Torgersen
CulmenLength          39.0
CulmenDepth           17.1
FlipperLength        191.0
BodyMass            3050.0
Species                  0
Name: 128, dtype: object

129 Island           Torgersen
CulmenLength          44.1
CulmenDepth           18.0
FlipperLength        210.0
BodyMass            4000.0
Species                  0
Name: 129, dtype: object

130 Island           Torgersen
CulmenLength          38.5
CulmenDepth           17.9
FlipperLength        190.0
BodyMass            3325.0
Species                  0
Name: 130, dtype: object

131 Island           Torgersen
CulmenLength          43.1
CulmenDepth           19.2
FlipperLength        197.0
BodyMass            3500.0
Species                  0
Name: 131, dtype: object

132 Island            Dream
CulmenLength       36.8
CulmenDepth        18.5
FlipperLength     193.0
BodyMass         3500.0
Species               0
Name: 132, dtype: object

133 Island            Dream
CulmenLength       37.5
CulmenDepth        18.5
FlipperLength     199.0
BodyMass         4475.0
Species               0
Name: 133, dtype: object

134 Island            Dream
CulmenLength       38.1
CulmenDepth        17.6
FlipperLength     187.0
BodyMass         3425.0
Species               0
Name: 134, dtype: object

135 Island            Dream
CulmenLength       41.1
CulmenDepth        17.5
FlipperLength     190.0
BodyMass         3900.0
Species               0
Name: 135, dtype: object

136 Island            Dream
CulmenLength       35.6
CulmenDepth        17.5
FlipperLength     191.0
BodyMass         3175.0
Species               0
Name: 136, dtype: object

137 Island            Dream
CulmenLength       40.2
CulmenDepth        20.1
FlipperLength     200.0
BodyMass         3975.0
Species               0
Name: 137, dtype: object

138 Island            Dream
CulmenLength       37.0
CulmenDepth        16.5
FlipperLength     185.0
BodyMass         3400.0
Species               0
Name: 138, dtype: object

139 Island            Dream
CulmenLength       39.7
CulmenDepth        17.9
FlipperLength     193.0
BodyMass         4250.0
Species               0
Name: 139, dtype: object

140 Island            Dream
CulmenLength       40.2
CulmenDepth        17.1
FlipperLength     193.0
BodyMass         3400.0
Species               0
Name: 140, dtype: object

141 Island            Dream
CulmenLength       40.6
CulmenDepth        17.2
FlipperLength     187.0
BodyMass         3475.0
Species               0
Name: 141, dtype: object

142 Island            Dream
CulmenLength       32.1
CulmenDepth        15.5
FlipperLength     188.0
BodyMass         3050.0
Species               0
Name: 142, dtype: object

143 Island            Dream
CulmenLength       40.7
CulmenDepth        17.0
FlipperLength     190.0
BodyMass         3725.0
Species               0
Name: 143, dtype: object

144 Island            Dream
CulmenLength       37.3
CulmenDepth        16.8
FlipperLength     192.0
BodyMass         3000.0
Species               0
Name: 144, dtype: object

145 Island            Dream
CulmenLength       39.0
CulmenDepth        18.7
FlipperLength     185.0
BodyMass         3650.0
Species               0
Name: 145, dtype: object

146 Island            Dream
CulmenLength       39.2
CulmenDepth        18.6
FlipperLength     190.0
BodyMass         4250.0
Species               0
Name: 146, dtype: object

147 Island            Dream
CulmenLength       36.6
CulmenDepth        18.4
FlipperLength     184.0
BodyMass         3475.0
Species               0
Name: 147, dtype: object

148 Island            Dream
CulmenLength       36.0
CulmenDepth        17.8
FlipperLength     195.0
BodyMass         3450.0
Species               0
Name: 148, dtype: object

149 Island            Dream
CulmenLength       37.8
CulmenDepth        18.1
FlipperLength     193.0
BodyMass         3750.0
Species               0
Name: 149, dtype: object

150 Island            Dream
CulmenLength       36.0
CulmenDepth        17.1
FlipperLength     187.0
BodyMass         3700.0
Species               0
Name: 150, dtype: object

151 Island            Dream
CulmenLength       41.5
CulmenDepth        18.5
FlipperLength     201.0
BodyMass         4000.0
Species               0
Name: 151, dtype: object

152 Island           Biscoe
CulmenLength       46.1
CulmenDepth        13.2
FlipperLength     211.0
BodyMass         4500.0
Species               1
Name: 152, dtype: object

153 Island           Biscoe
CulmenLength       50.0
CulmenDepth        16.3
FlipperLength     230.0
BodyMass         5700.0
Species               1
Name: 153, dtype: object

154 Island           Biscoe
CulmenLength       48.7
CulmenDepth        14.1
FlipperLength     210.0
BodyMass         4450.0
Species               1
Name: 154, dtype: object

155 Island           Biscoe
CulmenLength       50.0
CulmenDepth        15.2
FlipperLength     218.0
BodyMass         5700.0
Species               1
Name: 155, dtype: object

156 Island           Biscoe
CulmenLength       47.6
CulmenDepth        14.5
FlipperLength     215.0
BodyMass         5400.0
Species               1
Name: 156, dtype: object

157 Island           Biscoe
CulmenLength       46.5
CulmenDepth        13.5
FlipperLength     210.0
BodyMass         4550.0
Species               1
Name: 157, dtype: object

158 Island           Biscoe
CulmenLength       45.4
CulmenDepth        14.6
FlipperLength     211.0
BodyMass         4800.0
Species               1
Name: 158, dtype: object

159 Island           Biscoe
CulmenLength       46.7
CulmenDepth        15.3
FlipperLength     219.0
BodyMass         5200.0
Species               1
Name: 159, dtype: object

160 Island           Biscoe
CulmenLength       43.3
CulmenDepth        13.4
FlipperLength     209.0
BodyMass         4400.0
Species               1
Name: 160, dtype: object

161 Island           Biscoe
CulmenLength       46.8
CulmenDepth        15.4
FlipperLength     215.0
BodyMass         5150.0
Species               1
Name: 161, dtype: object

162 Island           Biscoe
CulmenLength       40.9
CulmenDepth        13.7
FlipperLength     214.0
BodyMass         4650.0
Species               1
Name: 162, dtype: object

163 Island           Biscoe
CulmenLength       49.0
CulmenDepth        16.1
FlipperLength     216.0
BodyMass         5550.0
Species               1
Name: 163, dtype: object

164 Island           Biscoe
CulmenLength       45.5
CulmenDepth        13.7
FlipperLength     214.0
BodyMass         4650.0
Species               1
Name: 164, dtype: object

165 Island           Biscoe
CulmenLength       48.4
CulmenDepth        14.6
FlipperLength     213.0
BodyMass         5850.0
Species               1
Name: 165, dtype: object

166 Island           Biscoe
CulmenLength       45.8
CulmenDepth        14.6
FlipperLength     210.0
BodyMass         4200.0
Species               1
Name: 166, dtype: object


214 Island           Biscoe
CulmenLength       45.7
CulmenDepth        13.9
FlipperLength     214.0
BodyMass         4400.0
Species               1
Name: 214, dtype: object

215 Island           Biscoe
CulmenLength       54.3
CulmenDepth        15.7
FlipperLength     231.0
BodyMass         5650.0
Species               1
Name: 215, dtype: object

216 Island           Biscoe
CulmenLength       45.8
CulmenDepth        14.2
FlipperLength     219.0
BodyMass         4700.0
Species               1
Name: 216, dtype: object

217 Island           Biscoe
CulmenLength       49.8
CulmenDepth        16.8
FlipperLength     230.0
BodyMass         5700.0
Species               1
Name: 217, dtype: object

218 Island           Biscoe
CulmenLength       46.2
CulmenDepth        14.4
FlipperLength     214.0
BodyMass         4650.0
Species               1
Name: 218, dtype: object

219 Island           Biscoe
CulmenLength       49.5
CulmenDepth        16.2
FlipperLength     229.0
BodyMass         5800.0
Species               1
Name: 219, dtype: object

220 Island           Biscoe
CulmenLength       43.5
CulmenDepth        14.2
FlipperLength     220.0
BodyMass         4700.0
Species               1
Name: 220, dtype: object

221 Island           Biscoe
CulmenLength       50.7
CulmenDepth        15.0
FlipperLength     223.0
BodyMass         5550.0
Species               1
Name: 221, dtype: object

222 Island           Biscoe
CulmenLength       47.7
CulmenDepth        15.0
FlipperLength     216.0
BodyMass         4750.0
Species               1
Name: 222, dtype: object

223 Island           Biscoe
CulmenLength       46.4
CulmenDepth        15.6
FlipperLength     221.0
BodyMass         5000.0
Species               1
Name: 223, dtype: object

224 Island           Biscoe
CulmenLength       48.2
CulmenDepth        15.6
FlipperLength     221.0
BodyMass         5100.0
Species               1
Name: 224, dtype: object

225 Island           Biscoe
CulmenLength       46.5
CulmenDepth        14.8
FlipperLength     217.0
BodyMass         5200.0
Species               1
Name: 225, dtype: object

226 Island           Biscoe
CulmenLength       46.4
CulmenDepth        15.0
FlipperLength     216.0
BodyMass         4700.0
Species               1
Name: 226, dtype: object

227 Island           Biscoe
CulmenLength       48.6
CulmenDepth        16.0
FlipperLength     230.0
BodyMass         5800.0
Species               1
Name: 227, dtype: object

228 Island           Biscoe
CulmenLength       47.5
CulmenDepth        14.2
FlipperLength     209.0
BodyMass         4600.0
Species               1
Name: 228, dtype: object

229 Island           Biscoe
CulmenLength       51.1
CulmenDepth        16.3
FlipperLength     220.0
BodyMass         6000.0
Species               1
Name: 229, dtype: object

230 Island           Biscoe
CulmenLength       45.2
CulmenDepth        13.8
FlipperLength     215.0
BodyMass         4750.0
Species               1
Name: 230, dtype: object

231 Island           Biscoe
CulmenLength       45.2
CulmenDepth        16.4
FlipperLength     223.0
BodyMass         5950.0
Species               1
Name: 231, dtype: object

232 Island           Biscoe
CulmenLength       49.1
CulmenDepth        14.5
FlipperLength     212.0
BodyMass         4625.0
Species               1
Name: 232, dtype: object

233 Island           Biscoe
CulmenLength       52.5
CulmenDepth        15.6
FlipperLength     221.0
BodyMass         5450.0
Species               1
Name: 233, dtype: object

234 Island           Biscoe
CulmenLength       47.4
CulmenDepth        14.6
FlipperLength     212.0
BodyMass         4725.0
Species               1
Name: 234, dtype: object

235 Island           Biscoe
CulmenLength       50.0
CulmenDepth        15.9
FlipperLength     224.0
BodyMass         5350.0
Species               1
Name: 235, dtype: object

236 Island           Biscoe
CulmenLength       44.9
CulmenDepth        13.8
FlipperLength     212.0
BodyMass         4750.0
Species               1
Name: 236, dtype: object

237 Island           Biscoe
CulmenLength       50.8
CulmenDepth        17.3
FlipperLength     228.0
BodyMass         5600.0
Species               1
Name: 237, dtype: object

238 Island           Biscoe
CulmenLength       43.4
CulmenDepth        14.4
FlipperLength     218.0
BodyMass         4600.0
Species               1
Name: 238, dtype: object

239 Island           Biscoe
CulmenLength       51.3
CulmenDepth        14.2
FlipperLength     218.0
BodyMass         5300.0
Species               1
Name: 239, dtype: object

240 Island           Biscoe
CulmenLength       47.5
CulmenDepth        14.0
FlipperLength     212.0
BodyMass         4875.0
Species               1
Name: 240, dtype: object

241 Island           Biscoe
CulmenLength       52.1
CulmenDepth        17.0
FlipperLength     230.0
BodyMass         5550.0
Species               1
Name: 241, dtype: object

242 Island           Biscoe
CulmenLength       47.5
CulmenDepth        15.0
FlipperLength     218.0
BodyMass         4950.0
Species               1
Name: 242, dtype: object

243 Island           Biscoe
CulmenLength       52.2
CulmenDepth        17.1
FlipperLength     228.0
BodyMass         5400.0
Species               1
Name: 243, dtype: object

244 Island           Biscoe
CulmenLength       45.5
CulmenDepth        14.5
FlipperLength     212.0
BodyMass         4750.0
Species               1
Name: 244, dtype: object

245 Island           Biscoe
CulmenLength       49.5
CulmenDepth        16.1
FlipperLength     224.0
BodyMass         5650.0
Species               1
Name: 245, dtype: object

246 Island           Biscoe
CulmenLength       44.5
CulmenDepth        14.7
FlipperLength     214.0
BodyMass         4850.0
Species               1
Name: 246, dtype: object

247 Island           Biscoe
CulmenLength       50.8
CulmenDepth        15.7
FlipperLength     226.0
BodyMass         5200.0
Species               1
Name: 247, dtype: object

248 Island           Biscoe
CulmenLength       49.4
CulmenDepth        15.8
FlipperLength     216.0
BodyMass         4925.0
Species               1
Name: 248, dtype: object

249 Island           Biscoe
CulmenLength       46.9
CulmenDepth        14.6
FlipperLength     222.0
BodyMass         4875.0
Species               1
Name: 249, dtype: object

250 Island           Biscoe
CulmenLength       48.4
CulmenDepth        14.4
FlipperLength     203.0
BodyMass         4625.0
Species               1
Name: 250, dtype: object

251 Island           Biscoe
CulmenLength       51.1
CulmenDepth        16.5
FlipperLength     225.0
BodyMass         5250.0
Species               1
Name: 251, dtype: object

252 Island           Biscoe
CulmenLength       48.5
CulmenDepth        15.0
FlipperLength     219.0
BodyMass         4850.0
Species               1
Name: 252, dtype: object

253 Island           Biscoe
CulmenLength       55.9
CulmenDepth        17.0
FlipperLength     228.0
BodyMass         5600.0
Species               1
Name: 253, dtype: object

254 Island           Biscoe
CulmenLength       47.2
CulmenDepth        15.5
FlipperLength     215.0
BodyMass         4975.0
Species               1
Name: 254, dtype: object

255 Island           Biscoe
CulmenLength       49.1
CulmenDepth        15.0
FlipperLength     228.0
BodyMass         5500.0
Species               1
Name: 255, dtype: object

256 Island           Biscoe
CulmenLength       47.3
CulmenDepth        13.8
FlipperLength     216.0
BodyMass         4725.0
Species               1
Name: 256, dtype: object

257 Island           Biscoe
CulmenLength       46.8
CulmenDepth        16.1
FlipperLength     215.0
BodyMass         5500.0
Species               1
Name: 257, dtype: object

258 Island           Biscoe
CulmenLength       41.7
CulmenDepth        14.7
FlipperLength     210.0
BodyMass         4700.0
Species               1
Name: 258, dtype: object

259 Island           Biscoe
CulmenLength       53.4
CulmenDepth        15.8
FlipperLength     219.0
BodyMass         5500.0
Species               1
Name: 259, dtype: object

260 Island           Biscoe
CulmenLength       43.3
CulmenDepth        14.0
FlipperLength     208.0
BodyMass         4575.0
Species               1
Name: 260, dtype: object

261 Island           Biscoe
CulmenLength       48.1
CulmenDepth        15.1
FlipperLength     209.0
BodyMass         5500.0
Species               1
Name: 261, dtype: object

262 Island           Biscoe
CulmenLength       50.5
CulmenDepth        15.2
FlipperLength     216.0
BodyMass         5000.0
Species               1
Name: 262, dtype: object

263 Island           Biscoe
CulmenLength       49.8
CulmenDepth        15.9
FlipperLength     229.0
BodyMass         5950.0
Species               1
Name: 263, dtype: object

264 Island           Biscoe
CulmenLength       43.5
CulmenDepth        15.2
FlipperLength     213.0
BodyMass         4650.0
Species               1
Name: 264, dtype: object

265 Island           Biscoe
CulmenLength       51.5
CulmenDepth        16.3
FlipperLength     230.0
BodyMass         5500.0
Species               1
Name: 265, dtype: object

266 Island           Biscoe
CulmenLength       46.2
CulmenDepth        14.1
FlipperLength     217.0
BodyMass         4375.0
Species               1
Name: 266, dtype: object

267 Island           Biscoe
CulmenLength       55.1
CulmenDepth        16.0
FlipperLength     230.0
BodyMass         5850.0
Species               1
Name: 267, dtype: object

268 Island           Biscoe
CulmenLength       44.5
CulmenDepth        15.7
FlipperLength     217.0
BodyMass         4875.0
Species               1
Name: 268, dtype: object

269 Island           Biscoe
CulmenLength       48.8
CulmenDepth        16.2
FlipperLength     222.0
BodyMass         6000.0
Species               1
Name: 269, dtype: object

270 Island           Biscoe
CulmenLength       47.2
CulmenDepth        13.7
FlipperLength     214.0
BodyMass         4925.0
Species               1
Name: 270, dtype: object

271 Island           Biscoe
CulmenLength        NaN
CulmenDepth         NaN
FlipperLength       NaN
BodyMass            NaN
Species               1
Name: 271, dtype: object

272 Island           Biscoe
CulmenLength       46.8
CulmenDepth        14.3
FlipperLength     215.0
BodyMass         4850.0
Species               1
Name: 272, dtype: object

273 Island           Biscoe
CulmenLength       50.4
CulmenDepth        15.7
FlipperLength     222.0
BodyMass         5750.0
Species               1
Name: 273, dtype: object

274 Island           Biscoe
CulmenLength       45.2
CulmenDepth        14.8
FlipperLength     212.0
BodyMass         5200.0
Species               1
Name: 274, dtype: object

275 Island           Biscoe
CulmenLength       49.9
CulmenDepth        16.1
FlipperLength     213.0
BodyMass         5400.0
Species               1
Name: 275, dtype: object

276 Island            Dream
CulmenLength       46.5
CulmenDepth        17.9
FlipperLength     192.0
BodyMass         3500.0
Species               2
Name: 276, dtype: object

277 Island            Dream
CulmenLength       50.0
CulmenDepth        19.5
FlipperLength     196.0
BodyMass         3900.0
Species               2
Name: 277, dtype: object

278 Island            Dream
CulmenLength       51.3
CulmenDepth        19.2
FlipperLength     193.0
BodyMass         3650.0
Species               2
Name: 278, dtype: object

279 Island            Dream
CulmenLength       45.4
CulmenDepth        18.7
FlipperLength     188.0
BodyMass         3525.0
Species               2
Name: 279, dtype: object

280 Island            Dream
CulmenLength       52.7
CulmenDepth        19.8
FlipperLength     197.0
BodyMass         3725.0
Species               2
Name: 280, dtype: object

281 Island            Dream
CulmenLength       45.2
CulmenDepth        17.8
FlipperLength     198.0
BodyMass         3950.0
Species               2
Name: 281, dtype: object

282 Island            Dream
CulmenLength       46.1
CulmenDepth        18.2
FlipperLength     178.0
BodyMass         3250.0
Species               2
Name: 282, dtype: object

283 Island            Dream
CulmenLength       51.3
CulmenDepth        18.2
FlipperLength     197.0
BodyMass         3750.0
Species               2
Name: 283, dtype: object

284 Island            Dream
CulmenLength       46.0
CulmenDepth        18.9
FlipperLength     195.0
BodyMass         4150.0
Species               2
Name: 284, dtype: object

285 Island            Dream
CulmenLength       51.3
CulmenDepth        19.9
FlipperLength     198.0
BodyMass         3700.0
Species               2
Name: 285, dtype: object

286 Island            Dream
CulmenLength       46.6
CulmenDepth        17.8
FlipperLength     193.0
BodyMass         3800.0
Species               2
Name: 286, dtype: object

287 Island            Dream
CulmenLength       51.7
CulmenDepth        20.3
FlipperLength     194.0
BodyMass         3775.0
Species               2
Name: 287, dtype: object

288 Island            Dream
CulmenLength       47.0
CulmenDepth        17.3
FlipperLength     185.0
BodyMass         3700.0
Species               2
Name: 288, dtype: object

289 Island            Dream
CulmenLength       52.0
CulmenDepth        18.1
FlipperLength     201.0
BodyMass         4050.0
Species               2
Name: 289, dtype: object

290 Island            Dream
CulmenLength       45.9
CulmenDepth        17.1
FlipperLength     190.0
BodyMass         3575.0
Species               2
Name: 290, dtype: object

291 Island            Dream
CulmenLength       50.5
CulmenDepth        19.6
FlipperLength     201.0
BodyMass         4050.0
Species               2
Name: 291, dtype: object

292 Island            Dream
CulmenLength       50.3
CulmenDepth        20.0
FlipperLength     197.0
BodyMass         3300.0
Species               2
Name: 292, dtype: object

293 Island            Dream
CulmenLength       58.0
CulmenDepth        17.8
FlipperLength     181.0
BodyMass         3700.0
Species               2
Name: 293, dtype: object

294 Island            Dream
CulmenLength       46.4
CulmenDepth        18.6
FlipperLength     190.0
BodyMass         3450.0
Species               2
Name: 294, dtype: object

295 Island            Dream
CulmenLength       49.2
CulmenDepth        18.2
FlipperLength     195.0
BodyMass         4400.0
Species               2
Name: 295, dtype: object

296 Island            Dream
CulmenLength       42.4
CulmenDepth        17.3
FlipperLength     181.0
BodyMass         3600.0
Species               2
Name: 296, dtype: object

297 Island            Dream
CulmenLength       48.5
CulmenDepth        17.5
FlipperLength     191.0
BodyMass         3400.0
Species               2
Name: 297, dtype: object

298 Island            Dream
CulmenLength       43.2
CulmenDepth        16.6
FlipperLength     187.0
BodyMass         2900.0
Species               2
Name: 298, dtype: object

299 Island            Dream
CulmenLength       50.6
CulmenDepth        19.4
FlipperLength     193.0
BodyMass         3800.0
Species               2
Name: 299, dtype: object

300 Island            Dream
CulmenLength       46.7
CulmenDepth        17.9
FlipperLength     195.0
BodyMass         3300.0
Species               2
Name: 300, dtype: object

301 Island            Dream
CulmenLength       52.0
CulmenDepth        19.0
FlipperLength     197.0
BodyMass         4150.0
Species               2

Name: 301, dtype: object

302 Island            Dream
CulmenLength       50.5
CulmenDepth        18.4
FlipperLength     200.0
BodyMass         3400.0
Species               2
Name: 302, dtype: object

303 Island            Dream
CulmenLength       49.5
CulmenDepth        19.0
FlipperLength     200.0
BodyMass         3800.0
Species               2
Name: 303, dtype: object

304 Island            Dream
CulmenLength       46.4
CulmenDepth        17.8
FlipperLength     191.0
BodyMass         3700.0
Species               2
Name: 304, dtype: object

305 Island            Dream
CulmenLength       52.8
CulmenDepth        20.0
FlipperLength     205.0
BodyMass         4550.0
Species               2
Name: 305, dtype: object

306 Island            Dream
CulmenLength       40.9
CulmenDepth        16.6
FlipperLength     187.0
BodyMass         3200.0
Species               2
Name: 306, dtype: object

307 Island            Dream
CulmenLength       54.2
CulmenDepth        20.8
FlipperLength     201.0
BodyMass         4300.0
Species               2
Name: 307, dtype: object

308 Island            Dream
CulmenLength       42.5
CulmenDepth        16.7
FlipperLength     187.0
BodyMass         3350.0
Species               2
Name: 308, dtype: object

309 Island            Dream
CulmenLength       51.0
CulmenDepth        18.8
FlipperLength     203.0
BodyMass         4100.0
Species               2
Name: 309, dtype: object

310 Island            Dream
CulmenLength       49.7
CulmenDepth        18.6
FlipperLength     195.0
BodyMass         3600.0
Species               2
Name: 310, dtype: object

311 Island            Dream
CulmenLength       47.5
CulmenDepth        16.8
FlipperLength     199.0
BodyMass         3900.0
Species               2
Name: 311, dtype: object

312 Island            Dream
CulmenLength       47.6
CulmenDepth        18.3
FlipperLength     195.0
BodyMass         3850.0
Species               2
Name: 312, dtype: object

313 Island            Dream
CulmenLength       52.0
CulmenDepth        20.7
FlipperLength     210.0
BodyMass         4800.0
Species               2
Name: 313, dtype: object

314 Island            Dream
CulmenLength       46.9
CulmenDepth        16.6
FlipperLength     192.0
BodyMass         2700.0
Species               2
Name: 314, dtype: object

315 Island            Dream
CulmenLength       53.5
CulmenDepth        19.9
FlipperLength     205.0
BodyMass         4500.0
Species               2
Name: 315, dtype: object

316 Island            Dream
CulmenLength       49.0
CulmenDepth        19.5
FlipperLength     210.0
BodyMass         3950.0
Species               2
Name: 316, dtype: object

317 Island            Dream
CulmenLength       46.2
CulmenDepth        17.5
FlipperLength     187.0
BodyMass         3650.0
Species               2
Name: 317, dtype: object

318 Island            Dream
CulmenLength       50.9
CulmenDepth        19.1
FlipperLength     196.0
BodyMass         3550.0
Species               2
Name: 318, dtype: object

319 Island            Dream
CulmenLength       45.5
CulmenDepth        17.0
FlipperLength     196.0
BodyMass         3500.0
Species               2
Name: 319, dtype: object

320 Island            Dream
CulmenLength       50.9
CulmenDepth        17.9
FlipperLength     196.0
BodyMass         3675.0
Species               2
Name: 320, dtype: object

321 Island            Dream
CulmenLength       50.8
CulmenDepth        18.5
FlipperLength     201.0
BodyMass         4450.0
Species               2
Name: 321, dtype: object

322 Island            Dream
CulmenLength       50.1
CulmenDepth        17.9
FlipperLength     190.0
BodyMass         3400.0
Species               2
Name: 322, dtype: object

323 Island            Dream
CulmenLength       49.0
CulmenDepth        19.6
FlipperLength     212.0
BodyMass         4300.0
Species               2
Name: 323, dtype: object

324 Island            Dream
CulmenLength       51.5
CulmenDepth        18.7
FlipperLength     187.0
BodyMass         3250.0
Species               2
Name: 324, dtype: object

325 Island            Dream
CulmenLength       49.8
CulmenDepth        17.3
FlipperLength     198.0
BodyMass         3675.0
Species               2
Name: 325, dtype: object

326 Island            Dream
CulmenLength       48.1
CulmenDepth        16.4
FlipperLength     199.0
BodyMass         3325.0
Species               2
Name: 326, dtype: object

327 Island            Dream
CulmenLength       51.4
CulmenDepth        19.0
FlipperLength     201.0
BodyMass         3950.0
Species               2
Name: 327, dtype: object

328 Island            Dream
CulmenLength       45.7
CulmenDepth        17.3
FlipperLength     193.0
BodyMass         3600.0
Species               2
Name: 328, dtype: object

329 Island            Dream
CulmenLength       50.7
CulmenDepth        19.7
FlipperLength     203.0
BodyMass         4050.0
Species               2
Name: 329, dtype: object

330 Island            Dream
CulmenLength       42.5
CulmenDepth        17.3
FlipperLength     187.0
BodyMass         3350.0
Species               2
Name: 330, dtype: object

331 Island            Dream
CulmenLength       52.2
CulmenDepth        18.8
FlipperLength     197.0
BodyMass         3450.0
Species               2
Name: 331, dtype: object

332 Island            Dream
CulmenLength       45.2
CulmenDepth        16.6
FlipperLength     191.0
BodyMass         3250.0
Species               2
Name: 332, dtype: object

333 Island            Dream
CulmenLength       49.3
CulmenDepth        19.9
FlipperLength     203.0
BodyMass         4050.0
Species               2
Name: 333, dtype: object

334 Island            Dream
CulmenLength       50.2
CulmenDepth        18.8
FlipperLength     202.0
BodyMass         3800.0
Species               2
Name: 334, dtype: object

335 Island            Dream
CulmenLength       45.6
CulmenDepth        19.4
FlipperLength     194.0
BodyMass         3525.0
Species               2
Name: 335, dtype: object

336 Island            Dream
CulmenLength       51.9
CulmenDepth        19.5
FlipperLength     206.0
BodyMass         3950.0
Species               2
Name: 336, dtype: object

337 Island            Dream
CulmenLength       46.8
CulmenDepth        16.5
FlipperLength     189.0
BodyMass         3650.0
Species               2
Name: 337, dtype: object

338 Island            Dream
CulmenLength       45.7
CulmenDepth        17.0
FlipperLength     195.0
BodyMass         3650.0
Species               2
Name: 338, dtype: object

339 Island            Dream
CulmenLength       55.8
CulmenDepth        19.8
FlipperLength     207.0
BodyMass         4000.0
Species               2
Name: 339, dtype: object

340 Island            Dream
CulmenLength       43.5
CulmenDepth        18.1
FlipperLength     202.0
BodyMass         3400.0
Species               2
Name: 340, dtype: object

341 Island            Dream
CulmenLength       49.6
CulmenDepth        18.2
FlipperLength     193.0
BodyMass         3775.0
Species               2
Name: 341, dtype: object

342 Island            Dream
CulmenLength       50.8
CulmenDepth        19.0
FlipperLength     210.0
BodyMass         4100.0
Species               2
Name: 342, dtype: object

343 Island            Dream
CulmenLength       50.2
CulmenDepth        18.7
FlipperLength     198.0
BodyMass         3775.0
Species               2
Name: 343, dtype: object

## Iterating over Columns :

In [16]:
df = pd.read_csv('C:/Users/Pranay/Downloads/penguins.csv')
df.head()

      Island  CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0  Torgersen          39.1         18.7          181.0    3750.0        0
1  Torgersen          39.5         17.4          186.0    3800.0        0
2  Torgersen          40.3         18.0          195.0    3250.0        0
3  Torgersen           NaN          NaN            NaN       NaN        0
4  Torgersen          36.7         19.3          193.0    3450.0        0

In [17]:
# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][3])

Torgersen
nan
nan
nan
nan
0

# Series
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [23]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

# Creating Series

In [25]:
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['p','r','a','n','a','y'])
 
ser = pd.Series(data)
print(ser)

0    p
1    r
2    a
3    n
4    a
5    y
dtype: object

In [26]:
#Creating a series from Lists:
list = ['g', 'e', 'e', 'k', 's']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [34]:
#Creating a series from Dictionary:

dict = {'Geeks': 10,
		'for': 20,
		'geeks': 30}

# create series from dictionary
ser = pd.Series(dict)

print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [35]:
#Creating a series from Scalar value: 
ser = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
 
print(ser)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [36]:
#Creating a Series using range function:
import pandas as pd
ser=pd.Series(range(10))
print(ser)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

# Create Labels

In [29]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64
7

In [30]:
print(myvar["y"])

7

### Key/Value Objects as Series

In [51]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [52]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64