In [2]:
#importing required Libraries
import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np  # to count the values (in our case)

#assigning the URL with variable name url
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
#request allow you to send HTTP request
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

#creating an empty list, so that we can append the values
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []

In [9]:
#storing the meaningfull required data in the variable
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-advanced'})

#calling one by one using for loop
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)

    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)

    runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '')
    time.append(runtime)

    rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)

    meta  = store.find('span', class_ = 'metascore').text.replace(' ', '') if store.find('span', class_ = 'metascore') else '^^^^^^'
    metascore.append(meta)
    #since, gross and votes have same attributes, that's why we had created a common variable and then used indexing
    value = store.find_all('span', attrs = {'name': 'nv'})

    vote = value[0].text
    votes.append(vote)

    grosses = value[1].text if len(value) >1 else '*****'
    gross.append(grosses)

In [10]:
#creating a dataframe using pandas library
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of release': year, 'Watchtime': time, 'Movie Rating': rating, 'Metascore': metascore, 'Votes': votes, 'Gross collection': gross})
movie_DF


#Saving data in Excel file:
movie_DF.to_excel("Top_100_IMDB_Movies.xlsx")

In [5]:
movie_DF.head()

,Name of movie,Year of release,Watchtime,Movie Rating,Metascore,Votes,Gross collection
0,The Shawshank Redemption,1994,142,9.3,82,"2,757,520",$28.34M
1,The Godfather,1972,175,9.2,100,"1,918,786",$134.97M
2,The Dark Knight,2008,152,9.0,84,"2,730,483",$534.86M
3,Schindler's List,1993,195,9.0,95,"1,389,742",$96.90M
4,12 Angry Men,1957,96,9.0,97,"816,962",$4.36M

In [8]:
latest = movie_DF["Year of release"].max()

movie_DF.loc[movie_DF["Year of release"]==latest,["Name of movie","Year of release","Watchtime","Movie Rating","Metascore","Votes","Gross collection"]]

,Name of movie,Year of release,Watchtime,Movie Rating,Metascore,Votes,Gross collection
58,96,II 2018,158,8.5,^^^^^^,"33,342",*****